

.navbar{
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 999;
  position: fixed;
}
.footer{
  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  background-color: #333;
  width: 100%;
  z-index: 999;
  position: fixed;
}